.center_stuff{

    margin-left:auto;
    margin-right:auto;
    
}

.change_width{
    width: 500px;
}

.aboutimages {
    width: 500px;
    height: auto;
}

body {
    background-color:rgba(54, 100, 129, 0.747);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    text-shadow: 1px 1px rgb(5, 3, 0);

}
.about_text{
    text-align: center;
}

.text{
    text-align: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
}
.centering{text-align: center;size: 90px;}
.monkey {
    font-weight: bolder;
    text-align: center;
}

.tabimages {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.tableau_menu {
    display: flex;
    background-color: rgb(10, 28, 11);
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
    color: rgb(255, 255, 255);
}

.boldy{
    font-weight: bolder;
    text-align: center;
    font-size: x-large;
}

.tableau_text {
    font-weight: bolder;
    text-align: center;
    font-size:large;
    text-shadow: 1px 1px rgb(5, 3, 0); ;
}

